# General
__pycache__/
*.py[cod]
venv/

# IDE and linters
.mypy_cache/
.vscode/

# Tests
.coverage
.pytest_cache/
htmlcov/

# Distribution
build/
dist/
*.egg-info/

# Documentation / Sphinx
docs/_build/
