# General
__pycache__/
*.py[cod]
.venv/

# IDE and linters
.mypy_cache/
.vscode/
.claude/

# Tests
.coverage
.pytest_cache/
htmlcov/

# Distribution
build/
dist/
*.egg-info/

# Documentation / Sphinx
docs/_build/

# temp
2026-03-19 10-37-39.mkv
